:root {
  --page-max-width: 1300px;

  --page-side-padding: 40px;
  --page-side-padding-mobile: 30px;

  --primary-color: #009fe4;
  --primary-whitelabelZib-color: #da291c;
  --primary-whitelabelHalo-color: #143284;

  --header-text-color: #003c58;
  --primary-background-color: #01354b;

  --header-text-whitelabelZib-color: #000000;
  --header-text-whitelabelHalo-color: #eca72c;

  --header-height: 70px;

  /* buttons styling */
  --button-border-radius: 2px;

  /* responsive screen size brackets */
  --screen-size-xs: 480px;
  --screen-size-s: 768px;
  --screen-size-m: 992px;
  --screen-size-l: 1200px;
  --screen-size-xl: 1440px;
}
